<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <!-- ROUTE TO GO TO INDEX PAGE -->
  <route url="/projet-5-airfrance/Web/admin/" module="Stocks" action="index" ></route>

  <!-- ROUTE TO LOG OUT -->
  <route url="/projet-5-airfrance/Web/admin/logOut" module="Stocks" action="logOut" ></route>

  <!-- ================================================================================================================================ -->
  <!-- =================================================== STOCKS PAGE ================================================================ -->
  <!-- ================================================================================================================================ -->

  <!-- ROUTE TO GO TO STOCKS PAGE -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-(All)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars="company,dot,page" ></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-(All)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars="company,dot,page" ></route>

  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars="company,dot,page"></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars="company,dot,page"></route>
 
  <!-- ROUTE TO DECREASE STOCK ITEMS -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-decrease-([0-9]+)-filter-(All)-page-([0-9A-Za-z]+)" module="Stocks" action="decrease" vars="company,id,dot,page"></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-decrease-([0-9]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="decrease" vars="company,id,dot,page"></route>

  <!-- ROUTE TO INCREASE STOCK ITEMS -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-increase-([0-9]+)-filter-(All)-page-([0-9A-Za-z]+)" module="Stocks" action="increase" vars="company,id,dot,page"></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-increase-([0-9]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="increase" vars="company,id,dot,page"></route>

  <!-- ROUTE TO DELETE STOCK ITEMS -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-delete-([0-9]+)-filter-(All)-page-([0-9A-Za-z]+)" module="Stocks" action="delete" vars="company,id,dot,page"></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-delete-([0-9]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="delete" vars="company,id,dot,page"></route>

  <!-- ROUTE TO ADD STOCK ITEMS -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-add" module="Stocks" action="add" vars='company'></route>

  <!-- ROUTE TO OPEN THE UPDATE BOX -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-(All)-updateBox-([0-9]+)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars='company,dot,id,page'></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-updateBox-([0-9]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="filter" vars='company,id,dot,page'></route>

  <!-- ROUTE TO UPDATE SERIAL NUMBER AND SHELF LIFE -->
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-(All)-update-([0-9]+)-page-([0-9A-Za-z]+)" module="Stocks" action="update" vars="company,dot,id,page"></route>
  <route url="/projet-5-airfrance/Web/admin/stocks-([A-Za-z]+)-update-([0-9]+)-filter-([A-Z]+)-page-([0-9A-Za-z]+)" module="Stocks" action="update" vars="company,id,dot,page"></route>

  <!-- ROUTE TO CLOSE A TOPIC -->
  <route url="/projet-5-airfrance/Web/admin/communication-onGoing-([0-9]+)-closeTopic" module="Comms" action="closeTopic" vars="id"></route>

  <!-- ROUTE TO RE-OPEN A TOPIC -->
  <route url="/projet-5-airfrance/Web/admin/communication-postsClosed-([0-9]+)-openTopic" module="Comms" action="openTopic" vars="id"></route>

  <!-- ROUTE TO DELETE A TOPIC -->
  <route url="/projet-5-airfrance/Web/admin/communication-([0-9]+)-deleteTopic" module="Comms" action="deleteTopic" vars="id"></route>


<!-- ============================================================================================================================================== -->
<!-- =========================================================== COMMUNICATION PAGE =============================================================== -->
<!-- ============================================================================================================================================== -->


  <!-- ROUTE TO GO TO INDEX PAGE -->
  <route url="/projet-5-airfrance/Web/admin/communication" module="Comms" action="index" ></route>

  <!-- ROUTE TO CREATE A NEW POST -->
  <route url="/projet-5-airfrance/Web/admin/communication-newPost" module="Comms" action="newPost" ></route>

  <!-- ROUTE TO GO TO A ONGOING POST SPECIFIED BY ITS ID -->
  <route url="/projet-5-airfrance/Web/admin/communication-onGoing-([0-9]+)" module="Comms" action="onGoing" vars='id' ></route>

  <!-- ROUTE TO GO TO A ARCHIVE POST SPECIFIED BY ITS ID -->
  <route url="/projet-5-airfrance/Web/admin/communication-archives-([0-9]+)" module="Comms" action="archives" vars='id' ></route>

  <!-- ROUTE TO GO TO POST A COMMENT -->
  <route url="/projet-5-airfrance/Web/admin/communication-onGoing-([0-9]+)-newComment" module="Comms" action="newComment" vars='id' ></route>
  
</routes>